.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .card {
    width: 40%;
  }
}

.title {
  font-family: 'Roboto';
  font-size: 16px;
  color: #171f46;
}

.card-description {
  font-family: 'Roboto';
  font-size: 13px;
  color: #64748b;
  padding: 0px;
  margin-top: 10px;
  text-align: left;
}

.image {
  width: 80px;
  margin-top: 10px;
  align-self: flex-end;
}
